body{
    background-color: rgb(61, 61, 61);
    font-family: "Fira Code";
    font-size: 20px;
}
p{
    color:rgb(230, 230, 230);
    background-color: rgb(61, 61, 61) !important;
}
h2{
    padding: 5px;
    color:rgb(250, 157, 18);
    background-color: rgb(61, 61, 61) !important;
}
.pulledChamp{
    text-align: left;
    color:rgb(230, 230, 230);
    background-color: rgb(61, 61, 61) !important;
    font-size: 22px;
}
.histChamp{
    color:rgb(210, 210, 210);
    background-color: rgb(61, 61, 61) !important;
    font-size: 20px;
}
.fiveStar{
    text-align: center;
}
button {        
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Fira Code";
    font-size: 20px;
    border-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(206, 206, 206);
    border-radius: 5px;
    margin-bottom: 7px;
    outline: none;
}
button:active{
    transform: scale(0.98);
    background-color: rgb(105, 105, 105);
}
.btn-disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: rgb(129, 129, 129);
}
.note{
    text-align: center;
    font-family: "Fira Code";
    font-size: 14px;
    color: rgb(206, 206, 206);
}
.border{
    position: relative;
    left: 0px;
    margin: 2px;
}

@keyframes brighten{
    0%, 100% {filter: brightness(none);}
    50% {filter: brightness(10);}
}
.fivestar{
    transform-origin: 0% 0%;
    width: 59px;
    height: 59px;
    margin: 2px;
    transform: translateX(-73px) translateY(-5.6px);
    position: absolute;
    z-index: 1;
}
.dot{
    padding: 5px;
    font-size: 14px;
    color: rgb(240, 240, 240);
    background-color: rgb(46, 46, 46);
    border-radius: 50%;
    border-color: rgb(231, 231, 231);
    display: inline-block;
    transform-origin: 0% 0%;
    transform: translateX(-35px) translateY(-10px);
    position: absolute;
    z-index: 3;
}
