body{
    background-color: rgb(61, 61, 61);
    font-family: "Fira Code";
    font-size: 20px;
}
h2{
    margin-top: 40px;
    font-family: "Fira Code";
    font-size: 35px;
    color:rgb(255, 153, 0);
    text-align: center;
}
#button{
    font-family: "Fira Code";
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    color:rgb(250, 157, 18);
    background-color: rgb(61, 61, 61) !important;
    border: 0px;
    outline: none;
}
#button:active{
    transform: scale(0.98);
}
a{
    font-family: "Fira Code";
    font-size: 30px;
    margin-bottom: 25px;
    color:rgb(250, 157, 18);
    text-decoration: none;
    
}
.choose{
    text-align: center;
    
}
a:active{
    color:rgb(250, 157, 18);
}
a:hover{
    color:rgb(253, 189, 93);
}